a {
    text-decoration: none;
}

 *{
    font-family: 'Nunito', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Sora', sans-serif; */
}

.nav-pills .nav-link {
    border-radius: .25rem;
    font-size: 12px;
    text-transform: uppercase;
    padding: 17px 29px 16px;
    line-height: 1;
    background-color: #464c51;
    font-weight: 500;
    color: rgba(0, 0, 0, .6);
    margin: .5rem;
  }
body{
    color: #000 !important;
}

.text-black{
    color: #000 !important;
}